
<div class="container">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span10">
			<div class="row-fluid">
				<%= simple_form_for(@center_user,:multipart => true, :url => update_profile_center_users_path(:id => Base64.encode64(current_center_user.id.to_s)),:method => 'put' ,:html => {:"id" => 'category_product_form'}) do |f| %>

					<div class="row-fluid">
						<label>first name </label>
						<%= f.input :first_name, label: false, placeholder: "first_name", input_html: { class: '', required: true } %>
					</div>

					<div class="row-fluid">
						<label>last name</label>
						<%= f.input :last_name, label: false, placeholder: 'last_name', input_html: { class: '', required: true } %>
					</div>

					<div class="row-fluid">
						<label>gender</label>
						<input class="span1 gender-radio-button" type="radio" name="gender" id="gender" value="Male" >Male
						<input class="span1 gender-radio-button" type="radio" name="gender" id="gender2" value="Female" >Female
						<%= f.input :gender, label: false, placeholder: 'gender',:as => :hidden, input_html: { class: '', required: true } %>
					</div>

					<div class="row-fluid">
						<label>street addres</label>
						<%= f.input :street_addres, label: false, placeholder: 'street_addres', input_html: { class: '', required: true } %>
					</div>

					<div class="row-fluid">
						<label>zip code</label>
						<%= f.input :zip_code, label: false, placeholder: 'zip_code', input_html: { class: '', required: true } %>
					</div>

					<div class="row-fluid">
						<label>age</label>
						<%= f.input :age, label: false, placeholder: 'age', input_html: { class: '', required: true } %>
					</div>
					
					<div class="row-fluid">
						<%= f.submit 'NEXT', class: '' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	var valor = ""
	$(".gender-radio-button").click(function () {     
		valor = $('input:radio[name=gender]:checked').val()
		$('#center_user_gender').val(valor);
	});
</script>